h1 {
    color: #E7CBA9;
    text-align: center;
    padding: 50px;
}
h2 {
    color:#E7CBA9;
    text-align: center;
    padding: 50px;
}
.add-flight {
    display:block;
    margin-right: auto;
    margin-left: auto;
}
